*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body,
.wrapper {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: #f9fbfd;
    min-width: 484px;
}

.wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

header {
    text-align: center;
    padding: 20px;
    padding-top: 0px;
    color: hsl(206, 17%, 28%);
}

.card {
    border-radius: 5px;
    border-width: 1px;
    color: hsl(206, 17%, 28%);
    font-size: 18px;
    margin: 0 auto;
    max-width: 800px;
    padding: 30px 40px;
}

.card-header::after {
    content: ' ';
    display: block;
    width: 100%;
    background: #e7e9eb;
    height: 2px;
}

.card-body {
    min-height: 100px;
}

.card-footer {
    text-align: left;
}

.card-footer::before {
    content: ' ';
    display: block;
    width: 100%;
    background: #e7e9eb;
    height: 2px;
}

.card-footer::after {
    content: ' ';
    display: block;
    clear: both;
}

.card-footer-center {
    text-align: center;
}

.card-footer-center::before {
    content: ' ';
    display: block;
    width: 100%;
    background: #e7e9eb;
    height: 2px;
}

.card-footer-answer {
    text-align: left;
    font-style: italic;
}

.card-footer-answer::before {
    content: ' ';
    display: block;
    width: 100%;
    background: #e7e9eb;
    height: 2px;
}

.btn {
    border: none;
    background-color: hsl(360, 91%, 36%);
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px 0px;
    color: hsl(0, 0%, 100%);
    display: inline-block;
    font-size: 22px;
    line-height: 22px;
    margin-top: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
    margin-left: 20px;
    padding-top: 14px;
    padding-right: 34px;
    padding-bottom: 14px;
    padding-left: 34px;
    text-align: center;
    cursor: pointer;
}

.btn:hover {
    background-color: hsl(0, 93%, 22%);
}

.hide {
    display: none;
}

button[disabled] {
    cursor: default;
    background: #c0c7cf;
}

.submitBtn {
    border: none;
    background-color: hsl(360, 91%, 36%);
    color: hsl(0, 0%, 100%);
    display: inline-block;
    font-size: 12px;
    line-height: 14px;
    margin: 2px 2px 2px 2px;
    padding: 5px 20px;
    text-align: center;
    cursor: pointer;
}

.submitBtn:hover:enabled {
    background-color: hsl(360, 91%, 36%);
}

.answer {
    border: none;
    background-color: hsl(360, 91%, 36%);
    color: hsl(0, 0%, 100%);
    display: inline-block;
    font-size: 18px;
    line-height: 22px;
    margin: 16px 16px 16px 20px;
    padding: 14px 34px;
    text-align: left;
    cursor: pointer;
}

.answer:hover {
    background-color: hsl(0, 93%, 22%);
}

.highScore {
    background-color: hsl(360, 91%, 36%);
    color: hsl(0, 0%, 100%);
    margin-top: 1px;
}